<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649507476750-s1fs4ov2t9plgj16s4uphkvhkv9hlbpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649507476750-s1fs4ov2t9plgj16s4uphkvhkv9hlbpa</string>
	<key>API_KEY</key>
	<string>AIzaSyA_AS7cnX0GhOxgPmRgvdwcDG5-HIR8njk</string>
	<key>GCM_SENDER_ID</key>
	<string>649507476750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appPortCap</string>
	<key>PROJECT_ID</key>
	<string>port-capacity</string>
	<key>STORAGE_BUCKET</key>
	<string>port-capacity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649507476750:ios:507ee70d9d2787e44a335f</string>
	<key>DATABASE_URL</key>
	<string>https://port-capacity-default-rtdb.firebaseio.com</string>
</dict>
</plist>